@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

// Color variables
$moderate-violet: hsl(263, 55%, 52%);
$very-dark-grayish-blue: hsl(217, 19%, 35%);
$very-dark-blackish-blue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);
$light-gray: hsl(0, 0%, 81%);
$light-grayish-blue: hsl(210, 46%, 95%);

// Card mixin
@mixin card($area, $background) {
  grid-area: $area;
  background-color: $background;
}

// Global resets
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 0.813rem;
  line-height: 1.4;
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: $light-grayish-blue;
  display: grid;
  place-content: center;
  min-height: 100vh;
  padding: 1.5rem;
  padding-bottom: 10rem;
}

main {
  max-width: 70rem;
  display: grid;
  grid-template-areas:
    "daniel daniel jonathan kira"
    "jeanette patrick patrick kira";
  gap: 2rem;
}

article {
  border-radius: 0.5rem;
  padding: 2rem;

  &.daniel {
    @include card(daniel, $moderate-violet);
    background-image: url("../images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: top 0 right 15%;
  }

  &.jonathan {
    @include card(jonathan, $very-dark-grayish-blue);
  }

  &.jeanette {
    @include card(jeanette, $white);
    box-shadow: 0.5rem 2rem 2rem hsla(0, 0%, 0%, 0.08);
  }

  &.patrick {
    @include card(patrick, $very-dark-blackish-blue);
  }

  &.kira {
    @include card(kira, $white);
    box-shadow: 0.5rem 2rem 2rem hsla(0, 0%, 0%, 0.08);
  }
}

// Note for text colors:
// 1. "Verified Graduate" has the same color as the person's name with 50% opacity
// 2. Review paragraphs inside the quotations have the same color as well, but are at 70% opacity
